@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Pacifico&display=swap');

html,body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: #087bb0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: #ffffff;
    /* background-color: #3b8fd3; */
    text-decoration: underline;
    text-align: center;
}

.about {
    font-family: "Baloo Bhai 2", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: white;
    background-color: #7f9cb9;
    border-radius: 2px;
    border: 2px solid black;
    width: 60%;
    max-height: 300px;
    overflow-y: auto;
    padding: 20px;
    margin: 10px;
    /* overflow: auto; */
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    /* Image aur text ke beech ka gap */
}

img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
}

.contact {
    margin-top: auto;
    padding: 0;
    font-weight: bold;
    color: white;
    text-align: center;
    background-color: black;
}

.bold-text{
    font-weight: bold;
    color: #01232a;
}